Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: 'ansible-lint --offline --exclude roles/install_module/vars/* --exclude scripts/deploy_ioc.yml
  
    '
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

Fixing minor typo in rbd9103 example
  roles/device_roles/rbd9103/example.yml
Due: ansible-lint, yamllint

Update role with templated substitutions
  roles/deploy_ioc/vars/pi-e621.yml
  roles/device_roles/pi-e621/example.yml
  roles/device_roles/pi-e621/schema.yml
  roles/device_roles/pi-e621/tasks/main.yml
  roles/device_roles/pi-e621/templates/asyn_motor.substitutions.j2
  roles/device_roles/pi-e621/templates/postInit.cmd.j2
  roles/install_module/vars/pi3_2778ce0.yml
  roles/install_module/vars/pie621_043ec8f.yml
Due: ansible-lint, yamllint

WIP: refactoring substitutions
  roles/deploy_ioc/vars/motorpigcs2.yml
  roles/device_roles/motorpigcs2/example.yml
  roles/install_module/vars/motorpigcs2_a0bdeae.yml
  roles/install_module/vars/motorpigcs2_ioc_a0bdeae.yml
Due: ansible-lint, yamllint

Finish role
  roles/device_roles/motorpigcs2/example.yml
  roles/device_roles/motorpigcs2/schema.yml
  roles/device_roles/motorpigcs2/tasks/main.yml
  roles/device_roles/motorpigcs2/templates/base.cmd.j2
  roles/device_roles/motorpigcs2/templates/motorgcs2.substitutions.j2
Due: ansible-lint, yamllint

Update role
  roles/deploy_ioc/vars/tetramm.yml
  roles/device_roles/tetramm/example.yml
  roles/device_roles/tetramm/templates/base.cmd.j2
Due: ansible-lint, yamllint

Update schema
  roles/device_roles/tetramm/schema.yml
Due: ansible-lint, yamllint

Use integer for IP_PORT
  roles/device_roles/tetramm/example.yml
Due: ansible-lint, yamllint

Documentation: Add reference for deploy_ioc role
  roles/deploy_ioc/README.md
Due: none

Documentation: Reference for install_module
  roles/install_module/README.md
Due: none

lint
  roles/install_module/README.md
Due: none

Resolve some suggestions from copilot review
  roles/install_module/README.md
Due: none

Add role for ADXSPD driver
  Makefile
  pixi.toml
  roles/deploy_ioc/vars/adxspd.yml
  roles/device_roles/adxspd/README.md
  roles/device_roles/adxspd/example.yml
  roles/device_roles/adxspd/schema.yml
  roles/device_roles/adxspd/tasks/main.yml
  roles/device_roles/adxspd/templates/auto_settings.req.j2
  roles/device_roles/adxspd/templates/base.cmd.j2
  roles/install_module/vars/adxspd_latest.yml
Due: ansible-lint, yamllint

Fix linting issues
  Makefile
  roles/device_roles/adxspd/example.yml
  roles/device_roles/adxspd/schema.yml
Due: ansible-lint, yamllint

Fix version id
  roles/install_module/vars/adxspd_latest.yml
Due: ansible-lint, yamllint

Update Makefile
  Makefile
Due: none

Added script to verify deployment artifacts along with container workflow
  pixi.lock
  pixi.toml
  roles/device_roles/adsimdetector/examples/sim-cam-test/config.yml
  roles/device_roles/adsimdetector/examples/sim-cam-test/verify.yml
  scripts/test-role.sh
  scripts/verify_deployment.py
  tests/test_validate_ex_configs_against_schemas.py
Due: ansible-lint, yamllint, ruff, ruff-format

Working validation of adsimdetector
  roles/device_roles/adsimdetector/examples/sim-cam-test/verify.yml
  scripts/verify_deployment.py
Due: ansible-lint, yamllint, ruff, ruff-format

Finalized verification script
  roles/device_roles/adsimdetector/examples/sim-cam-test/config.yml
  roles/device_roles/adsimdetector/examples/sim-cam-test/verify.yml
  roles/install_module/README.md
  roles/install_module/defaults/main.yml
  roles/install_module/tasks/install-module.yml
  scripts/test-role.sh
  scripts/verify_deployment.py
Due: ansible-lint, yamllint, ruff, ruff-format

Revert changes to pixi.toml
  pixi.toml
Due: none

Move imports to top
  scripts/verify_deployment.py
Due: ruff, ruff-format

Revert pixi.lock
  pixi.lock
Due: none

lint
  pixi.lock
  scripts/verify_deployment.py
Due: ruff, ruff-format

Updated README with how-tos and a table of Pixi tasks
  README.md
Due: none

Proper note syntax
  README.md
Due: none

Update README.md
  README.md
Due: none

Add schema for verify.yml (with testing)
  schemas/verify.yml
  tests/test_validate_ex_configs_against_schemas.py
Due: ansible-lint, yamllint, ruff, ruff-format

Add base.cmd; Fix host_config usage; Create verification config
  roles/device_roles/stanford_dg645/examples/dg645/config.yml
  roles/device_roles/stanford_dg645/examples/dg645/verify.yml
  roles/device_roles/stanford_dg645/tasks/main.yml
Due: ansible-lint, yamllint

Fix pandabox role; Add verification config for example
  roles/device_roles/pandabox/examples/panda1/config.yml
  roles/device_roles/pandabox/examples/panda1/verify.yml
  roles/device_roles/pandabox/templates/st.cmd.j2
Due: ansible-lint, yamllint

lint
  roles/device_roles/pandabox/examples/panda1/verify.yml
Due: ansible-lint, yamllint

Name change
  roles/deploy_ioc/vars/pi_e621.yml
  roles/device_roles/pi_e621/README.md
  roles/device_roles/pi_e621/example.yml
  roles/device_roles/pi_e621/schema.yml
  roles/device_roles/pi_e621/tasks/main.yml
  roles/device_roles/pi_e621/templates/asyn_motor.substitutions.j2
  roles/device_roles/pi_e621/templates/base.cmd.j2
Due: ansible-lint, yamllint

Update roles/install_module/tasks/install-module.yml
  roles/install_module/tasks/install-module.yml
Due: ansible-lint, yamllint

Fix pi_e621 role
  roles/device_roles/pi_e621/examples/pi-e621-test/config.yml
  roles/device_roles/pi_e621/examples/pi-e621-test/verify.yml
  roles/device_roles/pi_e621/schema.yml
  roles/device_roles/pi_e621/templates/asyn_motor.substitutions.j2
  roles/device_roles/pi_e621/templates/base.cmd.j2
  roles/install_module/tasks/install-module.yml
Due: ansible-lint, yamllint

Fix role deployment
  roles/deploy_ioc/vars/eps.yml
  roles/install_module/tasks/set-facts.yml
  roles/install_module/vars/eps_2b8896f.yml
  roles/install_module/vars/eps_f2d07aff.yml
Due: ansible-lint, yamllint

Add verification config for example
  roles/device_roles/eps/examples/eps-01/config.yml
  roles/device_roles/eps/examples/eps-01/verify.yml
  roles/device_roles/eps/templates/base.cmd.j2
Due: ansible-lint, yamllint

lint
  roles/install_module/vars/eps_2b8896f.yml
Due: ansible-lint, yamllint

Ignore deleted roles when detecting changed roles
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

lint
  roles/device_roles/pi_e621/examples/pi-e621-test/config.yml
  roles/device_roles/pi_e621/schema.yml
Due: ansible-lint, yamllint

Don't include deleted roles
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

Fix substitution file; Clean up base.cmd.j2; Add verify config
  roles/device_roles/motorpigcs2/examples/motorpigcs2-01/config.yml
  roles/device_roles/motorpigcs2/examples/motorpigcs2-01/verify.yml
  roles/device_roles/motorpigcs2/schema.yml
  roles/device_roles/motorpigcs2/templates/base.cmd.j2
  roles/device_roles/motorpigcs2/templates/motorgcs2.substitutions.j2
Due: ansible-lint, yamllint

Fix deployment to container
  roles/device_roles/mdrive/templates/asynRecord.substitutions.j2
  roles/device_roles/mdrive/templates/base.cmd.j2
  roles/device_roles/mdrive/templates/motor.substitutions.j2
Due: none

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
