Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: 'ansible-lint --offline --exclude roles/install_module/vars/* --exclude scripts/deploy_ioc.yml
  
    '
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

linter fixes
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

simplify finding changed roles
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

Initial commit
  roles/deploy_ioc/vars/linkamt96.yml
  roles/device_roles/linkamt96/README.md
  roles/device_roles/linkamt96/example.yml
  roles/device_roles/linkamt96/schema.yml
  roles/device_roles/linkamt96/tasks/main.yml
  roles/device_roles/linkamt96/templates/base.cmd.j2
  roles/install_module/vars/linkam3_1093365.yml
Due: ansible-lint, yamllint

Finalized role migration
  roles/device_roles/linkamt96/example.yml
  roles/device_roles/linkamt96/schema.yml
  roles/device_roles/linkamt96/templates/base.cmd.j2
  roles/install_module/vars/linkam3_1093365.yml
Due: ansible-lint, yamllint

Remove LINKAM3 required var
  roles/device_roles/linkamt96/schema.yml
Due: ansible-lint, yamllint

Update roles/device_roles/linkamt96/templates/base.cmd.j2
  roles/device_roles/linkamt96/templates/base.cmd.j2
Due: none

Initial lakeshore336 commit
  roles/deploy_ioc/vars/lakeshore336.yml
  roles/device_roles/lakeshore336/README.md
  roles/device_roles/lakeshore336/example.yml
  roles/device_roles/lakeshore336/schema.yml
  roles/device_roles/lakeshore336/tasks/main.yml
  roles/device_roles/lakeshore336/templates/base.cmd.j2
Due: ansible-lint, yamllint

Add base_stream_device and setup substitutions
  roles/deploy_ioc/vars/base_stream_device.yml
  roles/deploy_ioc/vars/lakeshore336.yml
  roles/device_roles/base_stream_device/example.yml
  roles/device_roles/base_stream_device/schema.yml
  roles/device_roles/base_stream_device/tasks/main.yml
  roles/device_roles/base_stream_device/templates/base.cmd.j2
  roles/device_roles/lakeshore336/example.yml
  roles/device_roles/lakeshore336/files/Lakeshore336.proto
  roles/device_roles/lakeshore336/files/Lakeshore336.template
  roles/device_roles/lakeshore336/files/Lakeshore336_chan.template
  roles/device_roles/lakeshore336/files/Lakeshore336_loop.template
  roles/device_roles/lakeshore336/tasks/main.yml
  roles/device_roles/lakeshore336/templates/base.cmd.j2
  roles/device_roles/lakeshore336/templates/lakeshore336.substitutions.j2
  roles/device_roles/lakeshore336/templates/lakeshore336_chan.substitutions.j2
  roles/device_roles/lakeshore336/templates/lakeshore336_loop.substitutions.j2
  scripts/debug_substitution_parsing.py
Due: ansible-lint, yamllint, ruff, ruff-format

Adding lakeshore331
  roles/deploy_ioc/vars/lakeshore331.yml
  roles/device_roles/lakeshore331/README.md
  roles/device_roles/lakeshore331/example.yml
  roles/device_roles/lakeshore331/schema.yml
  roles/device_roles/lakeshore331/tasks/main.yml
  roles/device_roles/lakeshore331/templates/base.cmd.j2
Due: ansible-lint, yamllint

Update lakeshore roles with different types of inheritance from base_stream_device
  roles/deploy_ioc/vars/lakeshore331.yml
  roles/device_roles/lakeshore331/example.yml
  roles/device_roles/lakeshore331/files/Lakeshore331.template
  roles/device_roles/lakeshore331/schema.yml
  roles/device_roles/lakeshore331/tasks/main.yml
  roles/device_roles/lakeshore331/templates/base.cmd.j2
  roles/device_roles/lakeshore331/templates/lakeshore331.substitutions.j2
  roles/device_roles/lakeshore336/tasks/main.yml
  roles/device_roles/lakeshore336/templates/base.cmd.j2
Due: ansible-lint, yamllint

Update roles/device_roles/base_stream_device/templates/base.cmd.j2
  roles/device_roles/base_stream_device/templates/base.cmd.j2
Due: none

Have lakeshore331 use its own base.cmd
  roles/device_roles/lakeshore331/tasks/main.yml
Due: ansible-lint, yamllint

Initial BLTiming migration commit
  roles/deploy_ioc/vars/bltiming.yml
Due: ansible-lint, yamllint

Add BLTiming role
  roles/deploy_ioc/vars/bltiming.yml
  roles/device_roles/bltiming/example.yml
  roles/device_roles/bltiming/schema.yml
  roles/device_roles/bltiming/tasks/main.yml
  roles/device_roles/bltiming/templates/epicsEnv.cmd.j2
  roles/device_roles/bltiming/templates/st.cmd.j2
  roles/install_module/vars/elauncher_21dede8.yml
Due: ansible-lint, yamllint

Removed base_stream_device role; Fixed lakeshore336
  roles/deploy_ioc/vars/base_stream_device.yml
  roles/device_roles/base_stream_device/example.yml
  roles/device_roles/base_stream_device/schema.yml
  roles/device_roles/base_stream_device/tasks/main.yml
  roles/device_roles/lakeshore336/tasks/main.yml
  roles/device_roles/lakeshore336/templates/base.cmd.j2
Due: ansible-lint, yamllint

Update roles/device_roles/bltiming/example.yml
  roles/device_roles/bltiming/example.yml
Due: ansible-lint, yamllint

Fix ansible variable references in templates
  roles/device_roles/bltiming/templates/epicsEnv.cmd.j2
  roles/device_roles/bltiming/templates/st.cmd.j2
Due: none

Initial CyberPowerPDU migration
  roles/deploy_ioc/vars/cyberpowerpdu.yml
  roles/device_roles/cyberpowerpdu/README.md
  roles/device_roles/cyberpowerpdu/example.yml
  roles/device_roles/cyberpowerpdu/schema.yml
  roles/device_roles/cyberpowerpdu/tasks/main.yml
  roles/device_roles/cyberpowerpdu/templates/base.cmd.j2
  roles/install_module/vars/snmp_bnl_ba2b0ef.yml
Due: ansible-lint, yamllint

Update with migrated changes
  roles/deploy_ioc/vars/cyberpowerpdu.yml
  roles/device_roles/cyberpowerpdu/example.yml
  roles/device_roles/cyberpowerpdu/files/cyberPDU.template
  roles/device_roles/cyberpowerpdu/files/cyberPDU_Outlet.template
  roles/device_roles/cyberpowerpdu/files/mibs/CyberPower_MIB_v2.11.MIB
  roles/device_roles/cyberpowerpdu/files/mibs/SNMPv2-SMI.txt
  roles/device_roles/cyberpowerpdu/files/mibs/SNMPv2-TC[rfc2579].mib
  roles/device_roles/cyberpowerpdu/schema.yml
  roles/device_roles/cyberpowerpdu/tasks/main.yml
  roles/device_roles/cyberpowerpdu/templates/base.cmd.j2
  roles/device_roles/cyberpowerpdu/templates/cyberpdu.substitutions.j2
  roles/device_roles/cyberpowerpdu/templates/cyberpdu_outlet.substitutions.j2
  roles/install_module/vars/snmp_bnl_ba2b0ef.yml
Due: ansible-lint, yamllint

lint
  roles/device_roles/cyberpowerpdu/files/cyberPDU.template
  roles/device_roles/cyberpowerpdu/files/cyberPDU_Outlet.template
  roles/device_roles/cyberpowerpdu/files/mibs/CyberPower_MIB_v2.11.MIB
  roles/device_roles/cyberpowerpdu/files/mibs/SNMPv2-SMI.txt
  roles/device_roles/cyberpowerpdu/files/mibs/SNMPv2-TC[rfc2579].mib
  roles/device_roles/cyberpowerpdu/templates/cyberpdu.substitutions.j2
  roles/device_roles/cyberpowerpdu/templates/cyberpdu_outlet.substitutions.j2
Due: none

Initial MDrive
  roles/deploy_ioc/vars/mdrive.yml
  roles/device_roles/mdrive/README.md
  roles/device_roles/mdrive/example.yml
  roles/device_roles/mdrive/schema.yml
  roles/device_roles/mdrive/tasks/main.yml
  roles/device_roles/mdrive/templates/base.cmd.j2
  roles/install_module/vars/mdrive_8bc9a09.yml
Due: ansible-lint, yamllint

Finish migration
  roles/deploy_ioc/vars/mdrive.yml
  roles/device_roles/mdrive/example.yml
  roles/device_roles/mdrive/schema.yml
  roles/device_roles/mdrive/tasks/main.yml
  roles/device_roles/mdrive/templates/asynRecord.substitutions.j2
  roles/device_roles/mdrive/templates/base.cmd.j2
  roles/device_roles/mdrive/templates/motor.substitutions.j2
  roles/install_module/vars/ims_2aeddf7.yml
  roles/install_module/vars/mdrive_8bc9a09.yml
Due: ansible-lint, yamllint

Run `Make` file to start
  roles/deploy_ioc/vars/f460.yml
  roles/device_roles/f460/README.md
  roles/device_roles/f460/example.yml
  roles/device_roles/f460/schema.yml
  roles/device_roles/f460/tasks/main.yml
  roles/device_roles/f460/templates/base.cmd.j2
  roles/install_module/vars/f460_e24199e.yml
Due: ansible-lint, yamllint

Update roles/device_roles/mdrive/templates/base.cmd.j2
  roles/device_roles/mdrive/templates/base.cmd.j2
Due: none

migrating tetramm
  roles/deploy_ioc/vars/tetramm.yml
  roles/device_roles/tetramm/example.yml
  roles/device_roles/tetramm/files/AutoSave.cmd
  roles/device_roles/tetramm/files/auto_settings.req
  roles/device_roles/tetramm/files/postInit.cmd
  roles/device_roles/tetramm/schema.yml
  roles/device_roles/tetramm/tasks/main.yml
  roles/device_roles/tetramm/templates/base.cmd.j2
Due: ansible-lint, yamllint

change schema and example
  roles/device_roles/tetramm/example.yml
  roles/device_roles/tetramm/schema.yml
Due: ansible-lint, yamllint

⤵️ Import everything else from upstream
  roles/deploy_ioc/vars/f460.yml
  roles/device_roles/f460/example.yml
  roles/device_roles/f460/schema.yml
  roles/device_roles/f460/templates/base.cmd.j2
  roles/install_module/vars/f460_e24199e.yml
Due: ansible-lint, yamllint

change schema and example
  roles/device_roles/tetramm/example.yml
Due: ansible-lint, yamllint

🗑️ Remove vars the validator disliked
  roles/deploy_ioc/vars/f460.yml
Due: ansible-lint, yamllint

『 』Standardize bracketing in `CMD` files
  roles/device_roles/f460/templates/base.cmd.j2
Due: none

trying to fix tests ...
  roles/deploy_ioc/vars/tetramm.yml
Due: ansible-lint, yamllint

🕶️ Suggestions from Tom
  roles/device_roles/f460/example.yml
  roles/device_roles/f460/schema.yml
  roles/device_roles/f460/templates/base.cmd.j2
  roles/install_module/vars/f460_e24199e.yml
Due: ansible-lint, yamllint

🧽 Clean up port that was in example host
  roles/device_roles/f460/example.yml
Due: ansible-lint, yamllint

🧹 Lint `base`
  roles/device_roles/f460/templates/base.cmd.j2
Due: none

ci fix
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

ci load image to cache upfront
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

touch ups
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

touch ups
  scripts/test-role.sh
Due: none

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
