Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: 'ansible-lint --offline --exclude roles/install_module/vars/* --exclude scripts/deploy_ioc.yml
  
    '
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

Updated device roles base.jinja2 template for module macros
  roles/device_roles/eguns7/templates/base.cmd.j2
  roles/device_roles/es150/templates/base.cmd.j2
Due: none

Updated module for eguns7 plc
  roles/deploy_ioc/vars/eguns7.yml
  roles/install_module/vars/egunplc_33d4b81.yml
  roles/install_module/vars/egunplc_4d595bf.yml
Due: ansible-lint, yamllint

Updated the names of modules for es150
  roles/deploy_ioc/vars/es150.yml
  roles/install_module/vars/dcpses150_7fe969e.yml
  roles/install_module/vars/dcpses150_8a8294a.yml
Due: ansible-lint, yamllint

Updated macros definiation for es150
  roles/device_roles/es150/example.yml
  roles/device_roles/es150/schema.yml
Due: ansible-lint, yamllint

Updated the drvAsynIPconfigure for Es150
  roles/device_roles/es150/templates/base.cmd.j2
Due: none

Updated es150 database and protocol files
  roles/deploy_ioc/vars/es150.yml
  roles/install_module/vars/dcpses150_80ff267.yml
Due: ansible-lint, yamllint

Change deploy_ioc_executable from 'iologik' to 'modbusApp'
  roles/deploy_ioc/vars/iologik.yml
Due: ansible-lint, yamllint

Add h5py; Update source
  roles/device_roles/xrt_caproto/tasks/main.yml
Due: ansible-lint, yamllint

Add selun option to adeiger role
  roles/device_roles/adeiger/templates/base.cmd.j2
Due: none

Fix dbLoadTemplate line in base.cmd.j2
  roles/device_roles/iologik/templates/base.cmd.j2
Due: none

Potential fix for pull request finding
  roles/device_roles/adeiger/templates/base.cmd.j2
Due: none

Update XRT caproto git rev
  roles/device_roles/xrt_caproto/tasks/main.yml
Due: ansible-lint, yamllint

fix of path variable naming and default version bump
  roles/device_roles/adtimepix3_pipeline/defaults/main.yml
  roles/device_roles/adtimepix3_pipeline/examples/adtimepix3_pipeline_01/config.yml
  roles/device_roles/adtimepix3_pipeline/schema.yml
  roles/device_roles/adtimepix3_pipeline/templates/st.cmd.j2
Due: ansible-lint, yamllint

bracket fix
  roles/device_roles/adtimepix3_pipeline/examples/adtimepix3_pipeline_01/config.yml
Due: ansible-lint, yamllint

version bump to container pixi version for updated v7 lock file
  scripts/setup_container.sh
Due: none

shift pixi run verification to root call so that root owned pixi doesn't error on call made with user privilages
  scripts/deploy_local_config.py
Due: ruff, ruff-format

modify mrftiming role for ansible deployment
  roles/deploy_ioc/vars/mrftiming.yml
  roles/device_roles/mrftiming/README.md
  roles/device_roles/mrftiming/example.yml
  roles/device_roles/mrftiming/examples/mrftiming-01/config.yml
  roles/device_roles/mrftiming/examples/mrftiming-01/verify.yml
  roles/device_roles/mrftiming/files/auto_settings.req
  roles/device_roles/mrftiming/schema.yml
  roles/device_roles/mrftiming/tasks/main.yml
  roles/device_roles/mrftiming/templates/AutoSave.cmd
  roles/device_roles/mrftiming/templates/base.cmd.j2
  roles/device_roles/mrftiming/templates/postInit.cmd
  roles/install_module/vars/epics_mrf_82f7bbb.yml
  roles/install_module/vars/mrftiming_3bb9fcf.yml
Due: ansible-lint, yamllint

use macro from RELEASE.local during compile time for module location
  roles/deploy_ioc/vars/mrftiming.yml
  roles/device_roles/mrftiming/templates/base.cmd.j2
Due: ansible-lint, yamllint

Updated PV name from Env to Chl to be more representative
  roles/device_roles/thermo_con_hecr/example.yml
Due: ansible-lint, yamllint

Fix syntax in dbLoadRecords command
  roles/device_roles/mrftiming/templates/base.cmd.j2
Due: none

fix macro in AutoSave.cmd
  roles/device_roles/mrftiming/templates/AutoSave.cmd
  roles/device_roles/mrftiming/templates/postInit.cmd
Due: none

Added BPM for Linac
  roles/install_module/vars/linzubpm_cedd09e.yml
Due: ansible-lint, yamllint

Updated the Git repo
  roles/install_module/vars/linzubpm_aca9b87.yml
Due: ansible-lint, yamllint

Role for Linaczubpm is added
  roles/deploy_ioc/vars/linaczubpm.yml
  roles/device_roles/linaczubpm/README.md
  roles/device_roles/linaczubpm/example.yml
  roles/device_roles/linaczubpm/schema.yml
  roles/device_roles/linaczubpm/tasks/main.yml
  roles/device_roles/linaczubpm/templates/base.cmd.j2
Due: ansible-lint, yamllint

device role added for linac zubpm
  roles/deploy_ioc/vars/linaczubpm.yml
  roles/device_roles/linaczubpm/example.yml
  roles/device_roles/linaczubpm/schema.yml
  roles/device_roles/linaczubpm/templates/base.cmd.j2
  roles/install_module/vars/linzubpm_aca9b87.yml
Due: ansible-lint, yamllint

fixed for example files
  roles/device_roles/linaczubpm/example.yml
Due: ansible-lint, yamllint

Fixed macros for Linac zubpm device role
  roles/device_roles/linaczubpm/templates/base.cmd.j2
Due: none

Fixed ioc execuble name
  roles/deploy_ioc/vars/linaczubpm.yml
Due: ansible-lint, yamllint

Updated vacuum module to include tsp download parameters
  roles/deploy_ioc/vars/va.yml
  roles/device_roles/va/schema.yml
  roles/install_module/vars/va_84e0991.yml
  roles/install_module/vars/va_c2bcccd.yml
Due: ansible-lint, yamllint

advimba: allow CAMERA_ID to be a GigE IP address
  roles/device_roles/advimba/schema.yml
Due: ansible-lint, yamllint

Fixed for tsp controller parameters
  roles/device_roles/va/schema.yml
Due: ansible-lint, yamllint

Fixed schema error for va role
  roles/device_roles/va/schema.yml
Due: ansible-lint, yamllint

Add descriptions of the xs3 versions
  roles/install_module/vars/xspress3_5f459a1.yml
  roles/install_module/vars/xspress3_82eae5a.yml
Due: ansible-lint, yamllint

Update directory mode and add 'opi' to tasks
  roles/device_roles/acmi2/tasks/main.yml
Due: ansible-lint, yamllint

Add recursive permissions task for directories
  roles/device_roles/acmi2/tasks/main.yml
Due: ansible-lint, yamllint

update f460 module mash to 9b59d67
  roles/deploy_ioc/vars/f460.yml
  roles/install_module/vars/f460_9b59d67.yml
  roles/install_module/vars/f460_e24199e.yml
Due: ansible-lint, yamllint

[acmi2] update it to e503d9f
  roles/deploy_ioc/vars/acmi2.yml
  roles/install_module/vars/acmi2_e503d9f.yml
Due: ansible-lint, yamllint

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
