Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

.pre-commit-config.yaml:

---

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible lint
        language: system
        # For some reason, pre commit doesn't accept the exclude_paths from the
        # .ansible-lint file, so we pass them explicitly as an argument here
        entry: >
          ansible-lint --offline
          --exclude roles/install_module/vars/*
          --exclude scripts/deploy_ioc.yml
        description: Perform ansible linting
        types: [yaml]

      - id: yamllint
        name: yaml lint
        language: system
        entry: yamllint --strict -c .yaml-lint.yml
        description: YamlLint with same config as super-linter
        types: [yaml]

      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

Placate the linter
  roles/device_roles/adpilatus/tasks/main.yml
Due: ansible-lint, yamllint

Ignore errors on pilatus dcu ping
  roles/device_roles/adpilatus/tasks/main.yml
Due: ansible-lint, yamllint

Correctly handle old-style examples
  scripts/deploy_local_config.py
Due: ruff, ruff-format

Try and let pixi task spin up required container
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

Simplify some wording
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

Placate linter
  .github/workflows/test-roles.yml
  scripts/deploy_local_config.py
Due: ansible-lint, yamllint, ruff, ruff-format

Handle case when container exists but not running. Install collections locally
  .gitignore
  scripts/deploy_local_config.py
  scripts/setup_container.sh
Due: ruff, ruff-format

Only attempt verification on containerized deployments
  scripts/deploy_local_config.py
Due: ruff, ruff-format

Overwrite config_site/release for base-snmp-ioc until we can confirm why CHECK_RELEASE override doesn't work
  roles/install_module/vars/base_snmp_ioc_6548d01.yml
Due: ansible-lint, yamllint

Set collection path to local collection directory
  scripts/deploy_local_config.py
Due: ruff, ruff-format

Placate the linter
  .ansible-lint
  .github/workflows/test-roles.yml
  pixi.toml
  scripts/deploy_local_config.py
Due: ansible-lint, yamllint, ruff, ruff-format

Fix deploy-all task
  pixi.toml
Due: none

Only run test-role workflow on changes to device roles
  .github/workflows/test-roles.yml
Due: ansible-lint, yamllint

Adding test to ensure that any added role gets a README file
  .ansible-lint
  .github/workflows/validate_configs.yml
  .pre-commit-config.yaml
  pytest.ini
  ruff.toml
  tests/test_device_roles.py
Due: ansible-lint, yamllint, ruff, ruff-format

Update tests/test_device_roles.py
  tests/test_device_roles.py
Due: ruff, ruff-format

Remove commented out sections in github actions workflow
  .github/workflows/test-roles.yml
  scripts/deploy_local_config.py
Due: ansible-lint, yamllint, ruff, ruff-format

Make sure config paths are always absolute
  scripts/deploy_local_config.py
Due: ruff, ruff-format

Fix port conflict and variable leakage when deploying multiple IOCs
  roles/deploy_ioc/tasks/set-facts.yml
  roles/deploy_ioc/tasks/update-config.yml
  roles/install_module/tasks/install-module.yml
Due: ansible-lint, yamllint

Modify action for testing device roles to also fire on changes in deploy_ioc var files
  .github/workflows/test-device-roles.yml
Due: ansible-lint, yamllint

Require nsls2 version of awx collection
  collections/requirements.yml
Due: ansible-lint, yamllint

Adding role for ADPco based cameras
  pytest.ini
  roles/deploy_ioc/vars/adpco.yml
  roles/device_roles/adpco/README.md
  roles/device_roles/adpco/examples/pco-det1/config.yml
  roles/device_roles/adpco/examples/pco-det1/verify.yml
  roles/device_roles/adpco/schema.yml
  roles/device_roles/adpco/tasks/main.yml
  roles/device_roles/adpco/templates/auto_settings.req.j2
  roles/device_roles/adpco/templates/base.cmd.j2
  roles/install_module/vars/adpco_b17fe13.yml
Due: ansible-lint, yamllint

Add missing config options to ADPCO module config
  roles/install_module/vars/adpco_b17fe13.yml
Due: ansible-lint, yamllint

Fix verify file
  roles/device_roles/adpco/examples/pco-det1/verify.yml
Due: ansible-lint, yamllint

Update roles/install_module/vars/adpco_b17fe13.yml
  roles/install_module/vars/adpco_b17fe13.yml
Due: ansible-lint, yamllint

Move executable to module definition
  roles/deploy_ioc/vars/adpco.yml
  roles/install_module/vars/adpco_b17fe13.yml
Due: ansible-lint, yamllint

Fix for nsls2em role
  roles/deploy_ioc/vars/nsls2em.yml
  roles/install_module/vars/nsls2em_dac28e9.yml
  roles/install_module/vars/std_1b416db.yml
Due: ansible-lint, yamllint

Update nsls2em commit hash
  roles/deploy_ioc/vars/nsls2em.yml
  roles/device_roles/nsls2em/example.yml
  roles/install_module/vars/nsls2em_8295ed8.yml
  roles/install_module/vars/nsls2em_dac28e9.yml
Due: ansible-lint, yamllint

Modify galaxy collection reqs to use galaxy instead of git for faster installs
  collections/requirements.yml
  scripts/deploy_local_config.py
Due: ansible-lint, yamllint, ruff, ruff-format

AWX package is required
  collections/requirements.yml
Due: ansible-lint, yamllint

Add github action to build collection and attach built collection to release
  .github/workflows/build-galaxy-collection.yml
Due: ansible-lint, yamllint

Minor typo fixed
  .github/workflows/build-galaxy-collection.yml
Due: ansible-lint, yamllint

Update gitignore, set correct permissions on new workflow
  .github/workflows/build-galaxy-collection.yml
  .gitignore
Due: ansible-lint, yamllint

Update .github/workflows/build-galaxy-collection.yml
  .github/workflows/build-galaxy-collection.yml
Due: ansible-lint, yamllint

Remove 'adcore' dependency from the STD module
  roles/install_module/vars/std_1b416db.yml
Due: ansible-lint, yamllint

Updated the commit hash for nsls2em module
  roles/deploy_ioc/vars/nsls2em.yml
  roles/install_module/vars/nsls2em_20fb70b.yml
Due: ansible-lint, yamllint

Modify main role to create missing common directories if they don't exist
  roles/deploy_ioc/README.md
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/tasks/deploy-ioc.yml
  roles/deploy_ioc/tasks/main.yml
Due: ansible-lint, yamllint

grammar
  roles/deploy_ioc/defaults/main.yml
Due: ansible-lint, yamllint

add roles for omega_rtc
  roles/deploy_ioc/vars/omega_rtc.yml
  roles/device_roles/omega_rtc/README.md
  roles/device_roles/omega_rtc/example.yml
  roles/device_roles/omega_rtc/schema.yml
  roles/device_roles/omega_rtc/tasks/main.yml
  roles/device_roles/omega_rtc/templates/alarm.db.j2
  roles/device_roles/omega_rtc/templates/base.cmd.j2
  roles/device_roles/omega_rtc/templates/postInit.cmd.j2
  roles/install_module/vars/omega-rtc_db3cc53.yml
Due: ansible-lint, yamllint

pre-commit run --all-files check passed
  roles/device_roles/omega_rtc/tasks/main.yml
Due: ansible-lint, yamllint
