Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

.pre-commit-config.yaml:

---

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible lint
        language: system
        # For some reason, pre commit doesn't accept the exclude_paths from the
        # .ansible-lint file, so we pass them explicitly as an argument here
        entry: >
          ansible-lint --offline
          --exclude roles/install_module/vars/*
          --exclude scripts/deploy_ioc.yml
        description: Perform ansible linting
        types: [yaml]

      - id: yamllint
        name: yaml lint
        language: system
        entry: yamllint --strict -c .yaml-lint.yml
        description: YamlLint with same config as super-linter
        types: [yaml]

      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

Allow for overriding pixi path via deployment test CLI
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/config.yml
  scripts/deploy_local_config.py
Due: ansible-lint, yamllint, ruff, ruff-format

Mode for created dirs must be 775
  roles/deploy_ioc/tasks/main.yml
Due: ansible-lint, yamllint

Ensure IOC directory exists
  roles/deploy_ioc/tasks/deploy-ioc.yml
Due: ansible-lint, yamllint

Update directories to include sticky bit. Update main role to fix any ownership issues at the end of the run, and to reapply ACLs after a run
  roles/deploy_ioc/tasks/deploy-ioc.yml
  roles/deploy_ioc/tasks/main.yml
  roles/deploy_ioc/templates/netsetup.j2
  roles/device_roles/adaravis/tasks/autogen_files.yml
  roles/device_roles/adpilatus/tasks/main.yml
  roles/device_roles/cyberpowerpdu/tasks/main.yml
  roles/device_roles/tektronix_afg3k/tasks/main.yml
  roles/device_roles/zebra_saver_caproto/tasks/main.yml
  roles/manage_iocs/tasks/install.yml
Due: ansible-lint, yamllint

correct erros from the init commit
  roles/deploy_ioc/vars/zpsc.yml
  roles/device_roles/zpsc/example.yml
  roles/device_roles/zpsc/schema.yml
  roles/device_roles/zpsc/templates/base.cmd.j2
Due: ansible-lint, yamllint

correct a mistake in zpsc.yml
  roles/deploy_ioc/vars/zpsc.yml
Due: ansible-lint, yamllint

set deploy_ioc_template_root_path for linkamt96
  roles/deploy_ioc/vars/linkamt96.yml
Due: ansible-lint, yamllint

Fix issue where 'NO' key was being converted to False. Also adjusted linting to ignore truthy requirements in keys
  .pre-commit-config.yaml
  .yamllint.yml
  roles/device_roles/zpsc/example.yml
  roles/device_roles/zpsc/schema.yml
  roles/device_roles/zpsc/templates/base.cmd.j2
  roles/device_roles/zpsc/templates/postInit.cmd.j2
  roles/install_module/vars/adtimepix3_2faf970.yml
  roles/install_module/vars/adurl_1c725ed.yml
  roles/install_module/vars/adxspd_986de77.yml
Due: ansible-lint, yamllint

updated for RS-485 multi-channels
  roles/device_roles/omega_rtc/example.yml
  roles/device_roles/omega_rtc/schema.yml
  roles/device_roles/omega_rtc/templates/base.cmd.j2
Due: ansible-lint, yamllint

Update roles/device_roles/omega_rtc/schema.yml
  roles/device_roles/omega_rtc/schema.yml
Due: ansible-lint, yamllint

default LINKAM3_LICENSE_PATH to /etc/linkam/Linkam.lsk
  roles/deploy_ioc/vars/linkamt96.yml
  roles/device_roles/linkamt96/schema.yml
Due: ansible-lint, yamllint

set PTY device ownership to softioc user/group
  roles/device_roles/linkamt96/templates/linkam-pty.service.j2
Due: none

Tighten CI for top level roles to only fire on tasks/defaults/templates, not vars
  .github/workflows/test-deploy-ioc-role.yml
Due: ansible-lint, yamllint

Update .github/workflows/test-deploy-ioc-role.yml
  .github/workflows/test-deploy-ioc-role.yml
Due: ansible-lint, yamllint

Placate linter
  .github/workflows/test-deploy-ioc-role.yml
Due: ansible-lint, yamllint

Fix workflow syntax
  .github/workflows/test-deploy-ioc-role.yml
Due: ansible-lint, yamllint

Fix minor issue in base.cmd template for VA role
  roles/device_roles/va/templates/base.cmd.j2
Due: none

Fix in power pmac base.cmd template
  roles/device_roles/powerpmac/templates/base.cmd.j2
Due: none

Update roles/device_roles/va/templates/base.cmd.j2
  roles/device_roles/va/templates/base.cmd.j2
Due: none

Update roles/device_roles/powerpmac/templates/base.cmd.j2
  roles/device_roles/powerpmac/templates/base.cmd.j2
Due: none

Add additional power pmac examples. Modify main role CI to also use powerpmac as test
  .github/workflows/test-deploy-ioc-role.yml
  roles/device_roles/powerpmac/examples/mc01/config.yml
  roles/device_roles/powerpmac/examples/mc01/verify.yml
  roles/device_roles/powerpmac/examples/mc02/config.yml
  roles/device_roles/powerpmac/examples/mc02/verify.yml
  roles/device_roles/powerpmac/examples/mc03/config.yml
  roles/device_roles/powerpmac/examples/mc03/verify.yml
  roles/device_roles/powerpmac/templates/base.cmd.j2
Due: ansible-lint, yamllint

Also run test deployment of RBD9103
  .github/workflows/test-deploy-ioc-role.yml
Due: ansible-lint, yamllint

Placate linter
  roles/device_roles/powerpmac/examples/mc01/verify.yml
  roles/device_roles/powerpmac/examples/mc02/config.yml
  roles/device_roles/powerpmac/examples/mc02/verify.yml
  roles/device_roles/powerpmac/examples/mc03/verify.yml
Due: ansible-lint, yamllint

Cleanup depracated tags in pixi.toml
  pixi.toml
Due: none

Update lockfile
  pixi.lock
Due: none

Update pixi.toml
  pixi.toml
Due: none

Update roles/device_roles/powerpmac/examples/mc02/config.yml
  roles/device_roles/powerpmac/examples/mc02/config.yml
Due: ansible-lint, yamllint

Update roles/device_roles/powerpmac/examples/mc03/config.yml
  roles/device_roles/powerpmac/examples/mc03/config.yml
Due: ansible-lint, yamllint

Update roles/device_roles/powerpmac/examples/mc02/verify.yml
  roles/device_roles/powerpmac/examples/mc02/verify.yml
Due: ansible-lint, yamllint

Correctly keep execute bit for ioc log directory, change 0775 to 02775 for other directory creations
  roles/install_module/tasks/install-module.yml
  roles/manage_iocs/tasks/install.yml
Due: ansible-lint, yamllint

Add check to make sure configured IOC user matches target softioc user
  roles/manage_iocs/tasks/install.yml
Due: ansible-lint, yamllint

Remove check, may add back in another PR
  roles/manage_iocs/tasks/install.yml
Due: ansible-lint, yamllint

Bump version of adpilauts, to include change that loads CONFIG_SITE.local
  roles/deploy_ioc/vars/adpilatus.yml
  roles/install_module/vars/adpilatus_72c7844.yml
Due: ansible-lint, yamllint

modify mdrive config to allow more flexibility
  roles/device_roles/mdrive/examples/mdrive-01/config.yml
  roles/device_roles/mdrive/templates/asynRecord.substitutions.j2
  roles/device_roles/mdrive/templates/base.cmd.j2
  roles/device_roles/mdrive/templates/motor.substitutions.j2
Due: ansible-lint, yamllint

lint check
  roles/device_roles/mdrive/examples/mdrive-01/config.yml
Due: ansible-lint, yamllint

debug mdrive motor db
  roles/device_roles/mdrive/templates/motor.substitutions.j2
Due: none
