Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: 'ansible-lint --offline --exclude roles/install_module/vars/* --exclude scripts/deploy_ioc.yml
  
    '
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

Update roles/device_roles/adurl/tasks/main.yml
  roles/device_roles/adurl/tasks/main.yml
Due: ansible-lint, yamllint

Update roles/deploy_ioc/vars/adurl.yml
  roles/deploy_ioc/vars/adurl.yml
Due: ansible-lint, yamllint

Fix minor issues found with ADPhantom role during deployment at HEX
  roles/deploy_ioc/vars/adphantom.yml
  roles/device_roles/adphantom/example.yml
  roles/device_roles/adphantom/schema.yml
Due: ansible-lint, yamllint

Update adphantom schema
  roles/device_roles/adphantom/schema.yml
Due: ansible-lint, yamllint

Update roles/deploy_ioc/vars/adphantom.yml
  roles/deploy_ioc/vars/adphantom.yml
Due: ansible-lint, yamllint

Move to a global default for pixi executable path
  roles/deploy_ioc/defaults/main.yml
  roles/device_roles/axis_caproto/defaults/main.yml
  roles/device_roles/axis_caproto/tasks/main.yml
  roles/device_roles/axis_caproto/templates/st.cmd.j2
  roles/device_roles/fpgabiologic/defaults/main.yml
  roles/device_roles/fpgabiologic/tasks/main.yml
  roles/device_roles/fpgabiologic/templates/st.cmd.j2
  roles/device_roles/germcaproto/defaults/main.yml
  roles/device_roles/germcaproto/tasks/main.yml
  roles/device_roles/germcaproto/templates/st.cmd.j2
  roles/device_roles/zebra_saver_caproto/defaults/main.yml
  roles/device_roles/zebra_saver_caproto/tasks/main.yml
  roles/device_roles/zebra_saver_caproto/templates/st.cmd.j2
Due: ansible-lint, yamllint

moved zebra saver caproto example and added a verify file
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/config.yml
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/verify.yml
Due: ansible-lint, yamllint

fixed linting error
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/verify.yml
Due: ansible-lint, yamllint

Fix indentation
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/verify.yml
Due: ansible-lint, yamllint

Make verify file_must_not_contain optional
  schemas/verify.yml
Due: ansible-lint, yamllint

Update zebra saver caproto example config
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/config.yml
Due: ansible-lint, yamllint

Add verbosity to test deployment
  scripts/test-role.sh
Due: none

Add one more verbosity level
  scripts/test-role.sh
Due: none

Use diff instead of higher verbosity
  scripts/test-role.sh
Due: none

Fixes found by CI
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/config.yml
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/verify.yml
Due: ansible-lint, yamllint

Extra curly braces
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/config.yml
Due: ansible-lint, yamllint

Remove all the curly brace escaping, and move the logic to the startup script
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/config.yml
  roles/device_roles/zebra_saver_caproto/templates/st.cmd.j2
Due: ansible-lint, yamllint

Add conditional comment about double curly braces
  roles/device_roles/zebra_saver_caproto/templates/st.cmd.j2
Due: none

Add comment to verification
  roles/device_roles/zebra_saver_caproto/examples/zebra-saver-caproto-01/verify.yml
Due: ansible-lint, yamllint

Move comment to new line
  roles/device_roles/zebra_saver_caproto/templates/st.cmd.j2
Due: none

Remove fpgabiologic role, it was never used in prod yet, can add it back if needed later. Update hiden_stream to use new pixi var
  roles/device_roles/fpgabiologic/defaults/main.yml
  roles/device_roles/fpgabiologic/example.yml
  roles/device_roles/fpgabiologic/schema.yml
  roles/device_roles/fpgabiologic/tasks/main.yml
  roles/device_roles/fpgabiologic/templates/st.cmd.j2
  roles/device_roles/hiden_stream/defaults/main.yml
  roles/device_roles/hiden_stream/tasks/main.yml
  roles/device_roles/hiden_stream/templates/st.cmd.j2
Due: ansible-lint, yamllint

Remove fpgabiologic vars file
  roles/deploy_ioc/vars/fpgabiologic.yml
Due: ansible-lint, yamllint

updated axis caproto ioc role
  roles/device_roles/axis_caproto/examples/axis-caproto-01/config.yml
  roles/device_roles/axis_caproto/examples/axis-caproto-01/verify.yml
  roles/device_roles/axis_caproto/templates/st.cmd.j2
Due: ansible-lint, yamllint

fix typo in name of axis ioc
  roles/device_roles/axis_caproto/examples/axis-caproto-01/verify.yml
  roles/device_roles/axis_caproto/templates/st.cmd.j2
Due: ansible-lint, yamllint

updated ioc for germcaproto
  roles/device_roles/germcaproto/examples/germcaproto/config.yml
  roles/device_roles/germcaproto/examples/germcaproto/verify.yml
  roles/device_roles/germcaproto/templates/st.cmd.j2
Due: ansible-lint, yamllint

fixed location of germ ioc
  roles/device_roles/germcaproto/examples/germcaproto/verify.yml
  roles/device_roles/germcaproto/templates/st.cmd.j2
Due: ansible-lint, yamllint

Rename adaxis to adtucam to use public source
  roles/deploy_ioc/vars/adtucam.yml
  roles/device_roles/adaxis/README.md
  roles/device_roles/adtucam/README.md
  roles/device_roles/adtucam/examples/axisDet1/config.yml
  roles/device_roles/adtucam/examples/axisDet1/verify.yml
  roles/device_roles/adtucam/schema.yml
  roles/device_roles/adtucam/tasks/main.yml
  roles/device_roles/adtucam/templates/auto_settings.req.j2
  roles/device_roles/adtucam/templates/base.cmd.j2
  roles/install_module/vars/adaxis_8c5a423.yml
  roles/install_module/vars/adtucam_0c04e68.yml
Due: ansible-lint, yamllint

updated hiden01
  roles/device_roles/hiden_stream/examples/hiden01/config.yml
  roles/device_roles/hiden_stream/examples/hiden01/verify.yml
  roles/device_roles/hiden_stream/templates/st.cmd.j2
Due: ansible-lint, yamllint

Update README
  roles/device_roles/adtucam/README.md
Due: none

fixed linting
  roles/device_roles/hiden_stream/templates/st.cmd.j2
Due: none

Make sure to set autosave pass restore files and status prefix
  roles/deploy_ioc/templates/common.cmd.j2
  roles/deploy_ioc/templates/postInit.cmd.j2
Due: none

Move setting up of autosave passes to before iocInit()
  roles/deploy_ioc/templates/common.cmd.j2
  roles/deploy_ioc/templates/postInit.cmd.j2
Due: none

Fix typo found in test deployment, remove unnecessary config options from pmac module
  roles/deploy_ioc/templates/common.cmd.j2
  roles/install_module/vars/pmac_f811ee1.yml
  schemas/device_specific_vars.yml
Due: ansible-lint, yamllint

By default, apply autosave during pass0 and pass1
  roles/deploy_ioc/templates/common.cmd.j2
  schemas/device_specific_vars.yml
Due: ansible-lint, yamllint

Working on cleaning up test deployment utilities
  galaxy.yml
  pixi.toml
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/tasks/set-facts.yml
  scripts/.gitattributes
  scripts/.gitignore
  scripts/deploy_example.py
  scripts/deploy_ioc.yml
  scripts/deploy_local_config.py
  scripts/deploy_local_ioc_config.yml
  scripts/pixi.lock
  scripts/pixi.toml
  scripts/setup_container.sh
  scripts/test-role.sh
Due: ansible-lint, yamllint, ruff, ruff-format

More or less working
  pixi.toml
  roles/deploy_ioc/defaults/main.yml
  scripts/deploy_local_config.py
  scripts/pixi.toml
Due: ansible-lint, yamllint, ruff, ruff-format

Update workflow to use new tooling, lint
  .github/workflows/test-roles.yml
  scripts/deploy_local_config.py
  scripts/setup_container.sh
Due: ansible-lint, yamllint, ruff, ruff-format

Linting now passing
  .yaml-lint.yml
  roles/deploy_ioc/tasks/set-facts.yml
  scripts/deploy_local_config.py
  scripts/test-role.sh
Due: ansible-lint, yamllint, ruff, ruff-format

Fix ADPilatus role, auto_settings became a template
  roles/device_roles/adpilatus/tasks/main.yml
Due: ansible-lint, yamllint

Only try to mount the ramdisk if the DCU is accessible
  roles/device_roles/adpilatus/tasks/main.yml
Due: ansible-lint, yamllint

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
