Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

.pre-commit-config.yaml:

---

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible lint
        language: system
        # For some reason, pre commit doesn't accept the exclude_paths from the
        # .ansible-lint file, so we pass them explicitly as an argument here
        entry: >
          ansible-lint --offline
          --exclude roles/install_module/vars/*
          --exclude scripts/deploy_ioc.yml
        description: Perform ansible linting
        types: [yaml]

      - id: yamllint
        name: yaml lint
        language: system
        entry: yamllint --strict -c .yaml-lint.yml
        description: YamlLint with same config as super-linter
        types: [yaml]

      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

Potential fix for pull request finding
  scripts/generate_docs_table.py
Due: ruff, ruff-format

change git version after PR merge to change record types
  roles/deploy_ioc/vars/xspress3.yml
  roles/device_roles/xspress3/example.yml
  roles/install_module/vars/xspress3_5f459a1.yml
Due: ansible-lint, yamllint

added missing env variables to tetramm.yml file
  roles/deploy_ioc/vars/tetramm.yml
Due: ansible-lint, yamllint

Initialize the loop index value if the role is called directly
  roles/deploy_ioc/tasks/deploy-ioc.yml
Due: ansible-lint, yamllint

changed the role name from acmi2-ioc to acmi2, then everything worked; DO NOT use dashes in a role name
  roles/deploy_ioc/vars/acmi2.yml
  roles/device_roles/acmi2/README.md
  roles/device_roles/acmi2/example.yml
  roles/device_roles/acmi2/schema.yml
  roles/device_roles/acmi2/tasks/main.yml
  roles/device_roles/acmi2/templates/base.cmd.j2
  roles/install_module/vars/acmi2_e815c16.yml
Due: ansible-lint, yamllint

deploy_ioc: auto-compute EPICS_DB_INCLUDE_PATH
  roles/deploy_ioc/tasks/set-facts.yml
  roles/deploy_ioc/vars/adandor3.yml
  roles/deploy_ioc/vars/adaravis.yml
  roles/deploy_ioc/vars/adeiger.yml
  roles/deploy_ioc/vars/adkinetix.yml
  roles/deploy_ioc/vars/admerlin.yml
  roles/deploy_ioc/vars/admythen.yml
  roles/deploy_ioc/vars/adpco.yml
  roles/deploy_ioc/vars/adphantom.yml
  roles/deploy_ioc/vars/adpilatus.yml
  roles/deploy_ioc/vars/adsimdetector.yml
  roles/deploy_ioc/vars/adtimepix3.yml
  roles/deploy_ioc/vars/adtucam.yml
  roles/deploy_ioc/vars/adurl.yml
  roles/deploy_ioc/vars/aduvc.yml
  roles/deploy_ioc/vars/advimba.yml
  roles/deploy_ioc/vars/adxspd.yml
  roles/deploy_ioc/vars/caparoc.yml
  roles/deploy_ioc/vars/elio.yml
  roles/deploy_ioc/vars/nsls2em.yml
  roles/deploy_ioc/vars/tetramm.yml
  roles/deploy_ioc/vars/zebra.yml
Due: ansible-lint, yamllint

Revert removal of EPICS_DB_INCLUDE_PATH from non-tetramm vars
  roles/deploy_ioc/vars/adandor3.yml
  roles/deploy_ioc/vars/adaravis.yml
  roles/deploy_ioc/vars/adeiger.yml
  roles/deploy_ioc/vars/adkinetix.yml
  roles/deploy_ioc/vars/admerlin.yml
  roles/deploy_ioc/vars/admythen.yml
  roles/deploy_ioc/vars/adpco.yml
  roles/deploy_ioc/vars/adphantom.yml
  roles/deploy_ioc/vars/adpilatus.yml
  roles/deploy_ioc/vars/adsimdetector.yml
  roles/deploy_ioc/vars/adtimepix3.yml
  roles/deploy_ioc/vars/adtucam.yml
  roles/deploy_ioc/vars/adurl.yml
  roles/deploy_ioc/vars/aduvc.yml
  roles/deploy_ioc/vars/advimba.yml
  roles/deploy_ioc/vars/adxspd.yml
  roles/deploy_ioc/vars/caparoc.yml
  roles/deploy_ioc/vars/elio.yml
  roles/deploy_ioc/vars/nsls2em.yml
  roles/deploy_ioc/vars/zebra.yml
Due: ansible-lint, yamllint

Filter EPICS_DB_INCLUDE_PATH modules to those present in merged env
  roles/deploy_ioc/tasks/set-facts.yml
Due: ansible-lint, yamllint

pandabox: install venv pip packages via command to avoid setuptools dep
  roles/device_roles/pandabox/tasks/main.yml
Due: ansible-lint, yamllint

Potential fix for pull request finding
  roles/device_roles/pandabox/tasks/main.yml
Due: ansible-lint, yamllint

pandabox: fix changed_when to use per-iteration stdout
  roles/device_roles/pandabox/tasks/main.yml
Due: ansible-lint, yamllint

Address review: simplify auto-DB-include source + document the behavior
  roles/deploy_ioc/README.md
  roles/deploy_ioc/tasks/set-facts.yml
  roles/install_module/tasks/install-module.yml
Due: ansible-lint, yamllint

docs: specify language for fenced code block (MD040)
  roles/deploy_ioc/README.md
Due: none

Bug fix for the configuration of PORT: grep ^HOST along with ^PORT to make sure PORT is associated with the HOST on which an IOC instance is installed.
  roles/deploy_ioc/tasks/update-config.yml
Due: ansible-lint, yamllint

added pipefail option for the shell command 'find ...' that use pipes
  roles/deploy_ioc/tasks/update-config.yml
Due: ansible-lint, yamllint

add hiden rga module path
  roles/deploy_ioc/vars/hiden_rga.yml
Due: ansible-lint, yamllint

Updated README to include links and clarify role structure.
  README.md
Due: none

Potential fix for pull request finding
  README.md
Due: none

Update README to specify testing a device role
  README.md
Due: none

update ADMerlin Version for TriggerModeRBV
  roles/install_module/vars/admerlin_399508f.yml
Due: ansible-lint, yamllint

fix files names and deploy_ioc/vars
  roles/deploy_ioc/vars/admerlin.yml
  roles/install_module/vars/admerlin_f9b6b1b.yml
Due: ansible-lint, yamllint

Don't fail if no configs are found
  roles/deploy_ioc/tasks/update-config.yml
Due: ansible-lint, yamllint

fix hiden rga macro
  roles/device_roles/hiden_rga/templates/base.cmd.j2
Due: none

add eps dependency
  roles/install_module/vars/eps_2b8896f.yml
Due: ansible-lint, yamllint

add eps template root path
  roles/deploy_ioc/vars/eps.yml
Due: ansible-lint, yamllint

Fixed the priority of deploy_ioc_executable definitions
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/tasks/set-facts.yml
Due: ansible-lint, yamllint

Fixed linting
  roles/deploy_ioc/tasks/set-facts.yml
Due: ansible-lint, yamllint

Initialize deploy_ioc_executable with none
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/tasks/set-facts.yml
Due: ansible-lint, yamllint

Fix linting
  roles/deploy_ioc/tasks/set-facts.yml
Due: ansible-lint, yamllint

Upgrade the version of the nsls2em IOC
  roles/deploy_ioc/vars/nsls2em.yml
  roles/install_module/vars/nsls2em_4bc9514.yml
Due: ansible-lint, yamllint

Update the GH hash
  roles/install_module/vars/nsls2em_4bc9514.yml
Due: ansible-lint, yamllint

nsls2em: specify executable name in IOC parameters
  roles/deploy_ioc/vars/nsls2em.yml
Due: ansible-lint, yamllint

Increase Queue Size (nsls2em)
  roles/device_roles/nsls2em/templates/base.cmd.j2
Due: none

Remove unused PV from the initialization list
  roles/deploy_ioc/vars/nsls2em.yml
  roles/device_roles/nsls2em/templates/base.cmd.j2
Due: ansible-lint, yamllint

Make the elio role more flexible - automatically get num terminals, num channels per terminal, and allow for customizing specific record fields
  roles/device_roles/elio/example.yml
  roles/device_roles/elio/schema.yml
  roles/device_roles/elio/templates/base.cmd.j2
Due: ansible-lint, yamllint

Potential fix for pull request finding
  roles/device_roles/elio/schema.yml
Due: ansible-lint, yamllint

Updates and fixes from review comments
  roles/device_roles/elio/example.yml
  roles/device_roles/elio/schema.yml
  roles/device_roles/elio/templates/base.cmd.j2
Due: ansible-lint, yamllint

add ims extra db for mdrive
  roles/device_roles/mdrive/examples/mdrive-g1/config.yml
  roles/device_roles/mdrive/schema.yml
  roles/device_roles/mdrive/templates/asynRecord.substitutions.j2
  roles/device_roles/mdrive/templates/motor.substitutions.j2
Due: ansible-lint, yamllint

use MDrv in example
  roles/device_roles/mdrive/examples/mdrive-g1/config.yml
Due: ansible-lint, yamllint

fix ims extra db file name
  roles/device_roles/mdrive/templates/motor.substitutions.j2
Due: none
