Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: 'ansible-lint --offline --exclude roles/install_module/vars/* --exclude scripts/deploy_ioc.yml
  
    '
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

added zubpm in deploy_ioc
  roles/deploy_ioc/vars/zubpm.yml
Due: ansible-lint, yamllint

Initial device role for zubpm
  roles/device_roles/zubpm/README.md
  roles/device_roles/zubpm/schema.yml
  roles/device_roles/zubpm/tasks/main.yml
  roles/device_roles/zubpm/templates/base.cmd.j2
Due: ansible-lint, yamllint

Added zubpm support module
  roles/install_module/vars/zubpm_ea239dd.yml
Due: ansible-lint, yamllint

zubpm: use a macro PSC instead of the fixed value of psc1
  roles/device_roles/zubpm/templates/base.cmd.j2
Due: none

zubpm: updated schema.yml
  roles/device_roles/zubpm/schema.yml
Due: ansible-lint, yamllint

Fixed end of files in zubpm.yml
  roles/deploy_ioc/vars/zubpm.yml
Due: ansible-lint, yamllint

zubpm: the default debug level is changed to 1
  roles/device_roles/zubpm/templates/base.cmd.j2
Due: none

zubpm: use NSLS2 git repo instead of my fork
  roles/install_module/vars/zubpm_cedd09e.yml
Due: ansible-lint, yamllint

zubpm device role: added example.yml
  roles/device_roles/zubpm/example.yml
Due: ansible-lint, yamllint

zubpm device role: updated example.yml to confirm with schema
  roles/device_roles/zubpm/example.yml
Due: ansible-lint, yamllint

zubpm device role: updated example.yml and schema
  roles/device_roles/zubpm/example.yml
  roles/device_roles/zubpm/schema.yml
Due: ansible-lint, yamllint

zubpm: YAML treats NO as boolean False so use quotation 'NO'
  roles/device_roles/zubpm/schema.yml
Due: ansible-lint, yamllint

Fixed the issue of vacuum plc role binary executables
  roles/deploy_ioc/vars/vtcplc.yml
Due: ansible-lint, yamllint

Updated plc base.j2 file
  roles/device_roles/vtcplc/templates/base.cmd.j2
Due: none

Speed up deployment by symlinking local collection and keep auto-install fallback
  scripts/deploy_local_config.py
Due: ruff, ruff-format

Fix the issue of lint with ruff: Line too long
  scripts/deploy_local_config.py
Due: ruff, ruff-format

Updated va and vtcplc device roles to include additional controllers
  roles/deploy_ioc/vars/va.yml
  roles/deploy_ioc/vars/vtcplc.yml
  roles/device_roles/vtcplc/example.yml
  roles/install_module/vars/va_1ec2b94.yml
  roles/install_module/vars/vtcplc_7c69152.yml
Due: ansible-lint, yamllint

make-module: prompt for optional pkg_deps and omit empty lists
  scripts/manage_collection.py
Due: ruff, ruff-format

Updated va role for agilent4uhv checksum update
  roles/deploy_ioc/vars/va.yml
  roles/install_module/vars/va_c2bcccd.yml
Due: ansible-lint, yamllint

acmi2: update its module version to 6d0774e
  roles/install_module/vars/acmi2_6d0774e.yml
Due: ansible-lint, yamllint

acmi2: update its deploy_ioc/vars to 6d0774e
  roles/deploy_ioc/vars/acmi2.yml
Due: ansible-lint, yamllint

[ACC] acmi2: copy all six data/support directories on deployment
  roles/device_roles/acmi2/tasks/main.yml
Due: ansible-lint, yamllint

Added new module and role for egun-S7plc and ES150 DC powre supplies
  roles/deploy_ioc/vars/egun-s7plc.yml
  roles/deploy_ioc/vars/es150.yml
  roles/device_roles/egun-s7plc/README.md
  roles/device_roles/egun-s7plc/example.yml
  roles/device_roles/egun-s7plc/schema.yml
  roles/device_roles/egun-s7plc/tasks/main.yml
  roles/device_roles/egun-s7plc/templates/base.cmd.j2
  roles/device_roles/es150/README.md
  roles/device_roles/es150/example.yml
  roles/device_roles/es150/schema.yml
  roles/device_roles/es150/tasks/main.yml
  roles/device_roles/es150/templates/base.cmd.j2
  roles/install_module/vars/dcpses150_93db052.yml
  roles/install_module/vars/egun-s7plc_285e095.yml
Due: ansible-lint, yamllint

Updated device roles for egun-s7plc and es150 PS
  roles/device_roles/egun-s7plc/example.yml
  roles/device_roles/egun-s7plc/schema.yml
  roles/device_roles/egun-s7plc/templates/base.cmd.j2
  roles/device_roles/es150/example.yml
  roles/device_roles/es150/schema.yml
  roles/device_roles/es150/templates/base.cmd.j2
Due: ansible-lint, yamllint

Minor issues in space fixed
  roles/device_roles/egun-s7plc/example.yml
  roles/device_roles/es150/schema.yml
  roles/device_roles/es150/templates/base.cmd.j2
Due: ansible-lint, yamllint

Updated example file for es150
  roles/device_roles/es150/example.yml
Due: ansible-lint, yamllint

Updated schema files
  roles/device_roles/egun-s7plc/example.yml
  roles/device_roles/es150/example.yml
Due: ansible-lint, yamllint

Updated dependent modules for es150 and egun-s7plc
  roles/deploy_ioc/vars/egun-s7plc.yml
  roles/deploy_ioc/vars/es150.yml
  roles/install_module/vars/dcpses150_7fe969e.yml
  roles/install_module/vars/dcpses150_93db052.yml
  roles/install_module/vars/egun-s7plc_285e095.yml
  roles/install_module/vars/egun-s7plc_33d4b81.yml
Due: ansible-lint, yamllint

Updated base.cmd.j2 for PLC name and ipadress
  roles/device_roles/egun-s7plc/templates/base.cmd.j2
Due: none

Updated device roles and module for egun plc
  roles/deploy_ioc/vars/eguns7.yml
  roles/device_roles/egun-s7plc/README.md
  roles/device_roles/eguns7/README.md
  roles/device_roles/eguns7/example.yml
  roles/device_roles/eguns7/schema.yml
  roles/device_roles/eguns7/tasks/main.yml
  roles/device_roles/eguns7/templates/base.cmd.j2
  roles/install_module/vars/egun-s7plc_33d4b81.yml
  roles/install_module/vars/egunplc_33d4b81.yml
Due: ansible-lint, yamllint

Add deploy_ioc_executable variable to iologik.yml
  roles/deploy_ioc/vars/iologik.yml
Due: ansible-lint, yamllint

Add xrt_caproto role
  roles/deploy_ioc/vars/xrt_caproto.yml
  roles/device_roles/xrt_caproto/defaults/main.yml
  roles/device_roles/xrt_caproto/examples/toroid-ioc-01/config.yml
  roles/device_roles/xrt_caproto/examples/toroid-ioc-01/toroid_focus.xml
  roles/device_roles/xrt_caproto/examples/toroid-ioc-01/verify.yml
  roles/device_roles/xrt_caproto/schema.yml
  roles/device_roles/xrt_caproto/tasks/main.yml
  roles/device_roles/xrt_caproto/templates/st.cmd.j2
Due: ansible-lint, yamllint

Updates to make use of manual XML file
  roles/deploy_ioc/tasks/deploy-ioc.yml
  roles/device_roles/xrt_caproto/examples/toroid-ioc-01/config.yml
  roles/device_roles/xrt_caproto/examples/toroid-ioc-01/verify.yml
  roles/device_roles/xrt_caproto/schema.yml
  roles/device_roles/xrt_caproto/templates/st.cmd.j2
  scripts/deploy_local_config.py
Due: ansible-lint, yamllint, ruff, ruff-format

update eps ioc version
  roles/deploy_ioc/vars/eps.yml
  roles/install_module/vars/eps_2b8896f.yml
Due: ansible-lint, yamllint

update the eps file name in module
  roles/install_module/vars/eps_f9f96b4.yml
Due: ansible-lint, yamllint

update eps version
  roles/deploy_ioc/vars/eps.yml
  roles/install_module/vars/eps_afbfea3.yml
Due: ansible-lint, yamllint

save eps yml
  roles/install_module/vars/eps_afbfea3.yml
Due: ansible-lint, yamllint

Add numpy to xrt-caproto IOC
  roles/device_roles/xrt_caproto/tasks/main.yml
Due: ansible-lint, yamllint

Verify import works
  roles/device_roles/xrt_caproto/tasks/main.yml
Due: ansible-lint, yamllint

Fix broken xrt-caproto deployment
  roles/device_roles/xrt_caproto/examples/toroid-ioc-01/verify.yml
  roles/device_roles/xrt_caproto/tasks/main.yml
  roles/device_roles/xrt_caproto/templates/st.cmd.j2
Due: ansible-lint, yamllint

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
