Repository NSLS2/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: 'ansible-lint --offline --exclude roles/install_module/vars/* --exclude scripts/deploy_ioc.yml
  
    '
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

Updated yaml to include target path for module
  roles/deploy_ioc/vars/vtcplc.yml
Due: ansible-lint, yamllint

Updated module path
  roles/deploy_ioc/vars/vtcplc.yml
Due: ansible-lint, yamllint

Add overwrite_config_site option to xspress3 vars
  roles/install_module/vars/xspress3_82eae5a.yml
Due: ansible-lint, yamllint

chore: upgrade pixi.lock from v6 to v7 format
  pixi.lock
  scripts/pixi.lock
Due: none

chore: update pixi to v0.71.3 in CI
  .github/workflows/superlinter.yml
Due: ansible-lint, yamllint

chore: update pixi to v0.71.3 and setup-pixi to v0.10.0 in validate CI
  .github/workflows/validate_module_configs.yml
Due: ansible-lint, yamllint

The issue #259 of 'pixi run update-module' has been fixed
  scripts/manage_collection.py
Due: ruff, ruff-format

Remove the extra line of end-of-file in the device role 'vtcplc'
  roles/device_roles/vtcplc/example.yml
  roles/device_roles/vtcplc/schema.yml
  roles/device_roles/vtcplc/templates/base.cmd.j2
Due: ansible-lint, yamllint

Updated acmi2 to 36866d0
  roles/install_module/vars/acmi2_36866d0.yml
Due: ansible-lint, yamllint

updated acmi2's deploy module
  roles/deploy_ioc/vars/acmi2.yml
Due: ansible-lint, yamllint

updated acmi2 to 8f6bac7
  roles/deploy_ioc/vars/acmi2.yml
  roles/install_module/vars/acmi2_8f6bac7.yml
Due: ansible-lint, yamllint

Removed old acmi2 module YMLs since the latest acmi2_8f6bac7.yml is working well
  roles/install_module/vars/acmi2_32df6c6.yml
  roles/install_module/vars/acmi2_36866d0.yml
Due: ansible-lint, yamllint

Add adkreios device role for SPECS KREIOS-150 areaDetector IOC
  roles/deploy_ioc/vars/adkreios.yml
  roles/device_roles/adkreios/examples/kreios-det1/config.yml
  roles/device_roles/adkreios/examples/kreios-det1/verify.yml
  roles/device_roles/adkreios/schema.yml
  roles/device_roles/adkreios/tasks/main.yml
  roles/device_roles/adkreios/templates/auto_settings.req.j2
  roles/device_roles/adkreios/templates/base.cmd.j2
  roles/install_module/vars/adkreios_4ec03dc.yml
Due: ansible-lint, yamllint

Updated schema file for agilent 4uhv controller macros
  roles/device_roles/va/schema.yml
Due: ansible-lint, yamllint

add --not-reinstall-collections for quicker deployment
  scripts/deploy_local_config.py
Due: ruff, ruff-format

Improve galaxy-collection handling with auto-install fallback on fresh clones
  scripts/deploy_local_config.py
Due: ruff, ruff-format

First pass at new ppmac IOC reconfigure
  roles/device_roles/powerpmac/examples/mc01/verify.yml
  roles/device_roles/powerpmac/examples/mc02/verify.yml
  roles/device_roles/powerpmac/examples/mc03/verify.yml
  roles/device_roles/powerpmac/tasks/main.yml
  roles/device_roles/powerpmac/templates/base.cmd.j2
  roles/device_roles/powerpmac/templates/cs.substitutions.j2
  roles/device_roles/powerpmac/templates/motor.substitutions.j2
  roles/device_roles/powerpmac/templates/motorstatus.substitutions.j2
  roles/device_roles/powerpmac/templates/pmacStatus.substitutions.j2
  roles/device_roles/powerpmac/templates/pmac_asyn_motor.substitutions.j2
  roles/device_roles/powerpmac/templates/pmac_physical_limit.substitutions.j2
  roles/device_roles/powerpmac/templates/pmacaux.substitutions.j2
Due: ansible-lint, yamllint

update pmac, optionally load cs.subs, fix deploy test
  roles/deploy_ioc/vars/powerpmac.yml
  roles/device_roles/powerpmac/examples/mc01/verify.yml
  roles/device_roles/powerpmac/examples/mc02/verify.yml
  roles/device_roles/powerpmac/examples/mc03/verify.yml
  roles/device_roles/powerpmac/tasks/main.yml
  roles/device_roles/powerpmac/templates/base.cmd.j2
  roles/install_module/vars/ppmac_afc1f8c.yml
Due: ansible-lint, yamllint

update ppmac commit hash
  roles/deploy_ioc/vars/powerpmac.yml
  roles/install_module/vars/ppmac_91b4edc.yml
Due: ansible-lint, yamllint

fix for local runansible deployment method
  scripts/deploy_local_config.py
Due: ruff, ruff-format

Add overwrite_release
  roles/install_module/vars/ppmac_91b4edc.yml
Due: ansible-lint, yamllint

linter fixes
  roles/install_module/vars/ppmac_91b4edc.yml
Due: ansible-lint, yamllint

Rename ppmac examples to avoid conflicts
  roles/device_roles/powerpmac/examples/mc91/config.yml
  roles/device_roles/powerpmac/examples/mc91/verify.yml
  roles/device_roles/powerpmac/examples/mc92/config.yml
  roles/device_roles/powerpmac/examples/mc92/verify.yml
  roles/device_roles/powerpmac/examples/mc93/config.yml
  roles/device_roles/powerpmac/examples/mc93/verify.yml
Due: ansible-lint, yamllint

Change powerpmac schema to 16 axes
  roles/device_roles/powerpmac/schema.yml
Due: ansible-lint, yamllint

Update mc91 example with sci not
  roles/device_roles/powerpmac/examples/mc91/config.yml
Due: ansible-lint, yamllint

Potential fix for pull request finding
  roles/device_roles/powerpmac/examples/mc91/config.yml
Due: ansible-lint, yamllint

Update README file
  README.md
Due: none

Deprecate superlinter, use pre-commit as single source of truth for linting
  .ansible-lint
  .codespellrc
  .github/linters/.ansible-lint-ignore
  .github/workflows/deploy-docs.yml
  .github/workflows/lint.yml
  .github/workflows/superlinter.yml
  .github/workflows/test-device-roles.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  docs/guides/adding-an-areadetector-role.md
  docs/guides/updating-roles.md
  docs/reference/deploy-ioc-defaults.md
  docs/testing/local-testing.md
  mypy.ini
  pixi.lock
  pixi.toml
  roles/deploy_ioc/README.md
  roles/device_roles/adtimepix3_pipeline/files/tpx3.json
  roles/device_roles/etherip/files/plc1-pps-sh.template
  roles/device_roles/lakeshore331/files/Lakeshore331.template
  roles/device_roles/lakeshore336/files/Lakeshore336_loop.template
  roles/device_roles/mcs/example.yml
  roles/device_roles/powerpmac/templates/base.cmd.j2
  roles/device_roles/tektronix_afg3k/files/TektronixAFG3K_Output.template
  roles/device_roles/va/example.yml
  roles/device_roles/wienercrate/files/WIENER-CRATE-MIB.MIB
  roles/device_roles/wienercrate/tasks/main.yml
  roles/install_module/README.md
  scripts/manage_collection.py
  scripts/setup_container.sh
  zizmor.yaml
Due: ansible-lint, yamllint, ruff, ruff-format

Fixed the issue of automatic port assignment logic for new ioc deployment
  roles/deploy_ioc/tasks/update-config.yml
Due: ansible-lint, yamllint

Added zubpm support module
  roles/install_module/vars/zubpm_ea239dd.yml
Due: ansible-lint, yamllint

Updated zubpm to version cedd09e
  roles/install_module/vars/zubpm_cedd09e.yml
Due: ansible-lint, yamllint

added zubpm in deploy_ioc
  roles/deploy_ioc/vars/zubpm.yml
Due: ansible-lint, yamllint

Initial device role for zubpm
  roles/device_roles/zubpm/README.md
  roles/device_roles/zubpm/schema.yml
  roles/device_roles/zubpm/tasks/main.yml
  roles/device_roles/zubpm/templates/base.cmd.j2
Due: ansible-lint, yamllint

zubpm: use a macro PSC instead of the fixed value of psc1
  roles/device_roles/zubpm/templates/base.cmd.j2
Due: none

zubpm: the default debug level is changed to 1
  roles/device_roles/zubpm/templates/base.cmd.j2
Due: none

Fixed end of files in zubpm.yml
  roles/deploy_ioc/vars/zubpm.yml
Due: ansible-lint, yamllint

zubpm: use NSLS2 git repo instead of my fork
  roles/install_module/vars/zubpm_cedd09e.yml
Due: ansible-lint, yamllint

zubpm: updated schema.yml
  roles/device_roles/zubpm/schema.yml
Due: ansible-lint, yamllint

zubpm device role: added example.yml
  roles/device_roles/zubpm/example.yml
Due: ansible-lint, yamllint

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
